{% extends 'base_summary.html' %}

{% block style %}
    {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lib/sumoselect.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/multi_input.css') }}">

<style>

</style>
{% endblock %}


<!--{% block heatmap_form %}-->
<!--    <div class="groups-display-form pure-form pure-form-stacked" style="float: right; margin-right: 10px; width:10%;">-->
<!--        <div>-->
<!--            <label for="groups-display">Show / Hide Groups</label>-->
<!--            <select id="groups-display" multiple style="width:100%;">-->

<!--            </select>-->
<!--            <button type="button" id="groups-display-all">All</button>-->
<!--            <button type="button" id="groups-display-none">None</button>-->
<!--        </div>-->
<!--        <div id="lsv-ordering-options">-->
<!--            <label>LSV Ordering</label>-->
<!--            <label for="lsv-order-exon-num" class="pure-radio">-->
<!--                <input id="lsv-order-exon-num" type="radio" name="lsv-order" value="exon-number-idx" checked>-->
<!--                Exon Number-->
<!--            </label>-->
<!--            <label for="lsv-order-type-len" class="pure-radio">-->
<!--                <input id="lsv-order-type-len" type="radio" name="lsv-order" value="type-length-idx">-->
<!--                Type Length-->
<!--            </label>-->
<!--        </div>-->

<!--    </div>-->
<!--{% endblock %}-->

{% block het_groups_form %}
<div class="tools-menu hide-tools-menu pure-g" id="plot-options-box">
    <div class="pure-u-2-3">
        <form class="groups-control-form pure-form">

            <label>Fixed Width Violin Plots
                <input type="checkbox" id="changeViolinFixedWidth">
            </label>

            <label>Change group order and display name
                <button type="button" id="showAllGroupNamesButton">Show all</button>
                <button type="button" id="hideAllGroupNamesButton">Hide all</button>
                <button type="button" id="resetGroupNamesButton">Reset</button></label>

            <dl id="group-controls">
            </dl>
        </form>
    </div>


    <div class="pure-u-1-3">
        <label class="heatmap-form-label">LSV display options
        </label>


        <div class="pure-form pure-form-stacked">

            <div class="heatmap-form pure-control-group">
                <div id="heatmap-stat-choices">
                    {% for stat_name in stat_names %}
                    <label for="{{ stat_name }}" class="pure-radio"
                           {% if stat_name == "TNOM" %}
                    title="A rank order statistic. It computes the  lowest Total Number Of Mistakes (TNOM) when setting a threshold over the observed values (PSI) to separate two classes. Given the number of observed values in each class this score can then be translated efficiently to a p-value under a random ordering null hypothesis."
                    {% elif stat_name == "INFOSCORE" %}
                    title="A rank order statistic. Computes the highest mutual information between two class labels and a classification based on a threshold for the observed values (PSI). This score is then translated to a matching p-value under a null of random ordering."
                    {% elif stat_name == "WILCOXON" %}
                    title="The standard ran based statistic where the ranks of observed values (PSI) from each group are summed and compared."
                    {% elif stat_name == "TTEST" %}
                    title="Standard  t-test for whether the mean of the values (PSI) in each group are the same."
                    {% endif %}
                    >
                    <input id="{{ stat_name }}" type="radio" name="stat-name" value="{{ stat_name }}"
                           {% if loop.first %}checked{% endif %}>
                    {{ stat_name }}</label>
                    {% endfor %}
                </div>
            </div>

<!--            <div class="heatmap-scale-form pure-control-group" >-->

<!--                <label for="dPSI-cutoff">dPSI Scale Cutoff</label>-->
<!--                <input id="dPSI-cutoff" type="number" min="0.1" step="any"  class="pure-input" style="width:110px;" value="0.5">-->

<!--            </div>-->

            <div class="groups-display-form pure-control-group" >
                <div id="lsv-ordering-options">
                    <label>LSV Ordering</label>
                    <label for="lsv-order-exon-num" class="pure-radio">
                        <input id="lsv-order-exon-num" type="radio" name="lsv-order" value="exon-number-idx" checked>
                        Exon Number
                    </label>
                    <label for="lsv-order-type-len" class="pure-radio">
                        <input id="lsv-order-type-len" type="radio" name="lsv-order" value="type-length-idx">
                        Type Length
                    </label>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}


{% block analysis_type_script %}

    <script src="{{ url_for('static', filename='js/lib/jquery.sumoselect.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.ba-throttle-debounce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Sortable.min.js') }}"></script>
    <script>
        // this stores a map of exon numbers so that we can map from the splicegraph numbers to
        // the LSV ID to search for


        const view_type = 'multipsi';

        // incase the screen is very small and content in the header takes more vertical space
        // push down the content more so it does not overlap
        $('.content').css('top',$('.gene-header').height() + 60);

        $('#lsv-ordering-options input').click(function(){
            $('.lsv-container').eq(0).sortClass('lsv', $(this).val());
        });

        var hidden_idx = [];
        var group_names = {{ group_names | tojson }};
        {% if session.get('group_order_override', None) %}
            let group_order_override = {{ session['group_order_override'] | tojson }};
        {% else %}
            let group_order_override = null;
        {% endif %}
        {% if session.get('group_display_name_override', None) %}
            let group_display_name_override = {{ session['group_display_name_override'] | tojson }};
        {% else %}
            let group_display_name_override = null;
        {% endif %}
        {% if session.get('group_visibility', None) %}
        let group_visibility = {{ session['group_visibility'] | tojson }};
        {% else %}
        let group_visibility = null;
        {% endif %}
        violin_fixed_width = {{ session.get('violin_fixed_width', False) | tojson }};




        $('#groups-display').change(function(){
            hidden_idx = [];
            $('#groups-display option:not(:selected)').each(function(i, elem){
                hidden_idx.push($(elem).index())
            });
        });

        $('#groups-display').change($.debounce(1250, function(){
            $('.lsv-table').DataTable().ajax.reload();
        }));

        json_ajax('{{ url_for("main.nav", gene_id=gene.id) }}').then(json => {
            document.querySelector('.prev-gene').addEventListener('click', () => {
                window.location.href = json.prev;
            });

            document.querySelector('.next-gene').addEventListener('click', () => {
                window.location.href = json.next;
            });
        });

        const sgLoadPromise = new Promise((resolve, reject) => {
            json_ajax('{{ url_for("main.splice_graph", gene_id=gene.id) }}').then(gene => {
                json_ajax('{{ url_for("main.transcripts", gene_id=gene.id) }}').then(transcripts => {
                    const sgs = new SpliceGraphs('.splice-graph-container', {
                        gene: gene,
                        transcripts: transcripts,
                        remove_img: "{{ url_for('static', filename='img/remove.svg')}}",
                        remove_fn: event => {
                            const sg = event.target.closest('.splice-graph');
                            send_ajax("{{ url_for('main.psi_splice_graphs') }}", {'remove': [sg.dataset.group, sg.dataset.experiment]})
                                .then(() => {
                                    sg.remove();
                                    SpliceGraphTools._populate_sg_form();
                                });
                        },
                        download_img: "{{ url_for('static', filename='img/download.svg') }}"
                    });

                    highlight_lsvs = () => {
                        const hl_data = Array.from(document.querySelectorAll('.highlight-form'))
                            .map(f => {
                                const lsv_id = f.parentNode.parentNode.getAttribute('data-lsv-id');
                                const highlight = f.querySelector('.highlight').checked;
                                const weighted = f.querySelector('.psi-weighted').checked;
                                return [lsv_id, highlight, weighted];
                            });

                        send_ajax('{{ url_for("main.lsv_highlight") }}', hl_data).then(lsvs => {
                            sgs.highlight(lsvs);
                        })
                    };

                    sgs.init_create().then(s => {
                        new SpliceGraphTools(s, gene, highlight_lsvs);
                        sgs.create_transcripts();
                        resolve();
                    });
                    const plotOpts = new PlotOptions(gene);

                    document.querySelectorAll('.lsv-cartoon').forEach(async function (c) {
                        const lsv_id = c.closest('.lsv').dataset.lsvId;
                        json_ajax('{{ url_for("main.lsv_data") }}/' + encodeURIComponent(lsv_id))
                            .then(lsv_data => {
                                const lsv = new Lsv(lsv_data);
                                lsv.cartoon(c)
                            })
                    });

                    $('.lsv-header').each(function (i, elem) {
                        const lsv_id = elem.parentNode.getAttribute('data-lsv-id');
                        elem.querySelector('.highlight-form').onchange = (event) => {
                            const input = event.target;
                            if (input.classList.contains('psi-weighted') && input.checked) {
                                input
                                    .closest('.highlight-form')
                                    .querySelectorAll('.highlight')
                                    .forEach(hl => hl.checked = true)
                            }

                            highlight_lsvs();
                        };

                        copy_lsv_modal_dropdown(elem, '{{ url_for("main.copy_lsv") }}/' + encodeURIComponent(lsv_id))
                    });


                });
            });
        });

        new MutationObserver(mutations => {
            mutations
                .forEach(m => m.addedNodes.forEach(n => {
                    if(n.nodeType === 3){
                        return;
                    }
                    n.querySelectorAll('.violin-download')
                        .forEach(h => {
                            h.onclick = (e) => {
                                const main_svg = $(h).siblings('.psi-violin-plot')[0].outerHTML;
                                const lsv_table = $(h).closest('.lsv-table').eq(0).data('lsv-id');
                                download_svg_elem(main_svg, `violin-${lsv_table}.svg`);
                            }
                        })


                    n.querySelectorAll('.psi-violin-plot')
                        .forEach(v => {
                            v.querySelectorAll('.violin, .swarm-group, .box-plot, .col-label')
                                .forEach((c, i) => {
                                    i = $(c).index();
                                    prepareToolTip(c, i)
                                });

                            v.querySelectorAll('.x-axis-grp text')
                                .forEach((c, i) => {
                                    i = $(c).parent().index();
                                    prepareToolTip(c, i)
                                });

                        });
                }));
        })
            .observe(document.querySelector('.lsv-container'), {
                childList: true,
                subtree: true
            });

        const color_b = new Colors();
        const lsvLoadPromise = new Promise((resolve, reject) => {
            document.querySelectorAll('.lsv-table')
                .forEach(async function (lsv_table) {
                    $(lsv_table).DataTable({
                        autoWidth: false,
                        processing: true,
                        serverSide: true,
                        paging: false,
                        searching: false,
                        info: false,
                        ajax: {
                            url: "{{ url_for('main.violin_data') }}" + '/' + encodeURIComponent(lsv_table.dataset.lsvId),
                            data: d => {
                                d['lsv_id'] = lsv_table.dataset.lsvId;
                                d['hidden_idx'] = hidden_idx.length > 0 ? hidden_idx.join(',') : undefined;
                            },
                            type: 'POST'
                        },
                        columnDefs: [
                            {
                                targets: 0,
                                sortable: true,
                                render: (data, i, j, k) => {
                                    const element = document.createElement('span');
                                    element.textContent = data;
                                    element.classList.add('junction-coords');
                                    element.dataset.start = data[0];
                                    element.dataset.end = data[1];
                                    element.style.borderBottom = `${color_b.brewer(k.row)} solid 4px`;
                                    return element.outerHTML;
                                }
                            },
                            {
                                targets: 1,
                                sortable: false,
                                render: data => {

                                    const violin = new Violin(data);

                                    const element = document.createElement('svg');
                                    element.classList.add('psi-violin-plot');
                                    element.setAttribute('width', '0');
                                    element.setAttribute('height', '0');

                                    violin.multipsi(element);

                                    const dlBtn = document.createElement('img');
                                    dlBtn.classList.add('violin-download');
                                    dlBtn.src = '{{ url_for("static", filename="img/download.svg") }}';
                                    dlBtn.height = 16;

                                    const container = document.createElement('div');
                                    container.appendChild(element);
                                    container.appendChild(dlBtn);

                                    if ($('#groups-display option').length === 0) {
                                        $.each(data.group_names, function (i, v) {
                                            $('#groups-display').append(`<option value="${v}" selected>${v}</option>`);
                                        });

                                        $('#groups-display').SumoSelect({
                                            'captionFormatAllSelected': 'All Groups are Visible',
                                            'captionFormat': '{0} Groups are Visible',
                                            'placeholder': 'No Groups are Visible',
                                            'isClickAwayOk': true
                                        });

                                        $('#groups-display-all').click(function () {
                                            $('#groups-display')[0].sumo.selectAll();
                                        });

                                        $('#groups-display-none').click(function () {
                                            $('#groups-display')[0].sumo.unSelectAll();
                                        });
                                    }

                                    return container.outerHTML
                                }
                            }
                        ],
                        initComplete: function(){
                            resolve();
                        }
                    })
                });
        });

        const selected_lsv_id = "{{ selected_lsv_id }}";
        Promise.all([sgLoadPromise, lsvLoadPromise]).then(() => {
            if(selected_lsv_id !== ""){
                setTimeout(function(){
                    $('.highlight').prop('checked', false);
                    $(`.lsv[data-lsv-id="${selected_lsv_id}"] .highlight`).prop('checked', true)
                        .get(0).scrollIntoView({behavior: 'smooth'});
                    highlight_lsvs();
                }, 0)
            }
        });

        $('#results tbody')
            .on('click', '.psi-violin-plot, .lsv-single-compact-percentiles', event => {
                const parent = event.target.closest('td');
                const violin = parent.querySelector('.psi-violin-plot');
                const compact = parent.querySelector('.lsv-single-compact-percentiles');
                $(violin).toggle();
                $(compact).toggle();
            })




    </script>
{% endblock %}

{% block bottom %}

    <div class="violin-tool-tip" style="display: none;">
        <div class="sample"></div>
        <div class="value"></div>
        <div class="expected"></div>
    </div>

    <div class="lsv-container">
        {% for lsv_id, lsv_type, exon_number, exon_number_idx, type_length_idx in lsv_data %}
            <div class="lsv" data-exon-number="{{ exon_number }}" data-lsv-id="{{ lsv_id }}" data-exon-number-idx="{{ exon_number_idx }}"
                 data-type-length-idx="{{ type_length_idx }}">
                <div class="lsv-header ">
                    <div class="highlight-form">
                        <div>
                            <label>
                                Highlight
                                <input class="highlight" type="checkbox">
                            </label>
                        </div>
                        <div>
                            <label>
                                Weighted
                                <input class="psi-weighted" type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div>
                        <canvas class="lsv-cartoon" width="200" height="80" data-lsv-type="{{ lsv_type }}"></canvas>
                    </div>
                    <div>
                        {{ lsv_id }}
                    </div>
                    <div>
                        <form class="pure-form pure-form-aligned">
                            <fieldset>
                                <div class="pure-control-group">
                                    <select class="copy-lsv">
                                        <option>Copy LSV</option>
                                        {% for grp in group_names %}
                                            <option value="{{ grp }}">{{ grp }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <a href="{{ ucsc[lsv_id] }}" target="_blank" rel="noopener noreferrer"><img
                                src="{{ url_for('static', filename="img/ucsc.png") }}"></a>
                    </div>
                </div>
                <table class="pure-table lsv-table" data-lsv-id="{{ lsv_id }}">
                    <thead>
                    <tr>
                        <th>Coordinates</th>
                        <th>Violin</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        {% endfor %}
    </div>

{% endblock %}
